<h2>{{title}}</h2>
<p>joiana</p>
<div>
    <p>{{ciumbi}}</p>
</div>

{{#if job}}
<div>
I have job: {{job}}!
</div>
{{else}}
<p>No job?</p>
{{/if}}

{{#each data}}
<p>{{user}} are {{age}}</p>
{{/each}}